version: '3.8'

services:
  lgbt-libre:
    build:
      context: .
      dockerfile: Dockerfile
    image: lgbt-libre:latest
    restart: unless-stopped
    
    environment:
      - PUBLIC_SITE_URL=${PUBLIC_SITE_URL}
      - NODE_ENV=${NODE_ENV:-production}

    networks:
      - dokploy-network

    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=dokploy-network"
      - "traefik.http.routers.lgbt-libre-http.entrypoints=web"
      - "traefik.http.routers.lgbt-libre-http.rule=Host(`lgbtlibre.davware.com`)"
      - "traefik.http.routers.lgbt-libre-http.middlewares=redirect-https"
      - "traefik.http.middlewares.redirect-https.redirectscheme.scheme=https"
      - "traefik.http.middlewares.redirect-https.redirectscheme.permanent=true"
      - "traefik.http.routers.lgbt-libre-https.entrypoints=websecure"
      - "traefik.http.routers.lgbt-libre-https.rule=Host(`lgbtlibre.davware.com`)"
      - "traefik.http.routers.lgbt-libre-https.tls=true"
      - "traefik.http.routers.lgbt-libre-https.tls.certresolver=letsencrypt"
      - "traefik.http.services.lgbt-libre.loadbalancer.server.port=80"

networks:
  dokploy-network:
    external: true
