---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import AboutUs from "../components/AboutUs.astro";
import OurHistory from "../components/OurHistory.astro";
import StrategicFramework from "../components/StrategicFramework.astro";
import ActionLines from "../components/ActionLines.astro";
import Campaigns from "../components/Campaigns.astro";
import News from "../components/News.astro";
import Newsletter from "../components/Newsletter.astro";
import "../styles/global.css";
---

<Layout>
  <Header />

  <main class="pt-16">
    <AboutUs />
    <OurHistory />
    <StrategicFramework />
    <ActionLines />
    <Campaigns />
    <News />
    <Newsletter />
  </main>

  <Footer />
</Layout>
